@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");


body {
  height: 100vh;
  color:darkblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
    background-image: linear-gradient(150deg,
    #51e2f5,#9df9ef, #edf756,#a28089, #ffa8B6);
}


h1 {
  font-family: "Montserrat Medium";
  max-width: 40ch;
  text-align: center;
  transform: scale(0.94);
  animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
}
@keyframes scale {
  100% {
    transform: scale(1);
  }
}

span {
  display: inline-block;
  opacity: 0;
  filter: blur(4px);
}

span:nth-child(1) {
  animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(2) {
  animation: fade-in 0.8s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(3) {
  animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(4) {
  animation: fade-in 0.8s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(5) {
  animation: fade-in 0.8s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(6) {
  animation: fade-in 0.8s 0.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(7) {
  animation: fade-in 0.8s 0.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(8) {
  animation: fade-in 0.8s 0.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
span:nth-child(9) {
    animation: fade-in 0.8s 0.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
@keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}
#hideMeAfter3Seconds {
    animation: hideAnimation 0s ease-in 3s;
    animation-fill-mode: forwards;
  }
  
  @keyframes hideAnimation {
    to {
      visibility: hidden;
      width: 0;
      height: 0;
    }
  }

  .go {
      width: 40%;
      top: 50%;
      left: 40%;
      overflow: hidden;
      animation: animate 10s linear forwards;
      font-size: larger;
  }

  .go h2 {
      color: red;
  }
  .go h3{
    font-weight: bolder;
    color:darkgreen;
  }

  @keyframes animate {
      0% {
          width: 0px;
          height: 0px;
      }
      30% {
          width: 60px;
          height: 10px;
      }
      60% {
          width: 60px;
          height: 90px;
      }
  }

  .button {
    border:#edf756;
    color:lightyellow;
    padding: 8px 10px;
    text-align: center;
    text-decoration:solid;
    display: inline-block;
    font-size: 24px;
    cursor: pointer;
    background-image: linear-gradient(150deg,
    #e1b382,#c89666, #2d545e,#12343b);
  }

  .but {
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    background-color: #7aa8b7;
    border-radius: 40px;
    outline: none;
    transition: 0.7s;
  }
  .but:hover {
    background-color: #c2c7c7;
  }